body {
    text-align: center;
}

div {
    display: inline-block;
}

.box {
    margin: 100px auto;
}

.w {
    width: 140px;
    height: 126px;
    background-color: pink;
    background: url(abcd.jpg);
    background-position: -113px -543px;
}

.z {
    width: 121px;
    height: 124px;
    background-color: pink;
    background: url(abcd.jpg);
    background-position: -479px -543px;
}

.y {
    width: 118px;
    height: 124px;
    background: url(abcd.jpg);
    background-position: -361px -543px;
}